<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    {{ wo_render_breadcrumbs({separator: '', itemClass: 'breadcrumb-item'}) }}
                </ol>
            </div>
        </div>
    </div>
</section>